<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tit}}</title>
</head>
<body>
    <h2 style="color:rgb(238, 130, 202)">Welcome to the {{tit}} Page</h2>
</body>
</html> -->
{% extends 'layout.html' %}
{% block a %}
    <div style="color: rgb(255, 0, 170); font-size: 130%;">
        This is the about page of our company <br>
        We are providing solutions for the last 10 years using AI and ML
    </div>
{% endblock a %} 